{% extends "layout.njk" %}

{% block responsive %}
  <link rel="stylesheet" href="/responsive.scss">
{% endblock responsive %}

{% block content %}

  <div class="card tabela-conteiner">
  
  <table width="100%">
    <a href="/membros/create">Novo</a>
    <!--CABEÇALHO DA TABELA-->
    <thead>
      <tr>        
        <th>Membro</th>
        <th>Email</th>
        <th>Peso</th>
        <th>Altura</th>
        <th>Ação</th>
      </tr>
    </thead>
    <!--CORPO DA TABELA-->
    <tbody>
      {% for membro in membros %}

        <tr>
          
          <td>
            <span style="background-image:url({{membro.avatar_url}})"></span>
           
            {{membro.name}}
          </td>
          <td data-label="EMAIL">{{membro.email}}</td>
          <td data-label="PESO">{{membro.weight}}</td>
          <td data-label="ALTURA">{{membro.height}}</td>
          
          <td><a href="/membros/{{membro.id}}">ver</a></td>
        </tr>

      {% endfor %}

    </tbody>

  </table>  
    
  </div>
  
{% endblock content %}
